/* @media(max-width:960px) {
    .showcase {
        height: 70vh;
    }


    .hide-sm {
        display: none;
    }

    .Drop-box {
        margin: 40px 37px;
        padding: 4px 2px;
        box-sizing: border-box;
    }
} */