* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  /* font-family: sans-serif;  */
  background: black;
  color: white;

}

h1 {
  color: #fff;
}

a {
  color: #fff;
}

p {
  margin: 0.5rem 0;
}

/* BG */
img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 98vh;
  position: relative;
  background: url("../image/Backgorund.jpg") no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 100px 100px #000000, inset 0px -100px 100px #000000;
}

/* TOP */
.showcase-top {
  z-index: 2;
  position: relative;
  height: 100px;
}

/* LOGO */
.showcase-top img {
  width: 220px;
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%, -5%);
  
}

/* Sign In */
#signin {
  position: absolute;
  top: 55%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.btn {
  background: #e50914;
  color: #fff;
  padding: 7px 18px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  font-weight: 510;
}

/* Language Dropdown */
#globe-icon {
  width: 17px;
  left: 4%;
  top: 41px;
  margin-top: 9px;
}

#down-icon {
  width: 10px;
  margin-left: -40%;
  margin-top: 55px;

}

/* .Drop-down {
  padding: 0px 37px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px;
  border-style: solid;
  border-color: #5e5f5f;
  position: absolute;
  backdrop-filter: blur(5px);
  border-radius: 7px;
  top: 55%;
  left: 6%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
} */

.Drop-box {
  margin: 40px 37px;
  padding: 8px 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px;
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  border-style: solid;
  border-color: #5e5f5f;
  backdrop-filter: blur(5px);
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

.showcase-content #main-text {
  /* font-family: "Berlin Sans FB Demi Bold"; */
  /* font-family: 'Inconsolata', monospace; */
  /* font-family: 'Paytone One', sans-serif; */
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Titan One', cursive; */
  font-size: 50px;
  font-weight: 1000;
  margin-bottom: 10px;
}

.showcase-content #mid-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 23px;
  margin-bottom: 10px;
}

.showcase-content #lower-text {
  font-family: "Secular One";
  font-size: 23px;
  font-weight: lighter;
}

/* Mail Box */

/* #mailBox {
  font-size: ;
  background-color: rgba(53, 53, 53, 0.5);
  backdrop-filter: blur(1px);
  border: 2px;
  border-style: solid;
  border-color: #5e5f5f;
  border-radius: 5px;
  color: #fff;
} */

input[type="text"] {
  margin-left: -38%;
  width: 450px;
  height: 55px;
  background-color: rgba(53, 53, 53, 0.5);
  backdrop-filter: blur(1px);
  border: 2px;
  border-style: solid;
  border-color: #5e5f5f;
  border-radius: 5px;
  color: #fff;
  padding-left: 20px;
  font-size: 18px;

}

/* Get Started Button */
.getstartedBtn {
  background: #e50914;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  padding: 15px 24px;
  font-size: 24px;
  border-radius: 5px;
  font-weight: bold;
  border-style: solid;
  border-color: #e50914;
  margin-left: 8px;
  cursor: pointer;
}

::placeholder {
  font-size: large;
  font-weight: 500;
  color: #bfbdbd;
}

.showcase-content {
  z-index: 2;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;
}

/* SECOND PAGE */
/* Selector */
#second-page {
  background: #141414;
  padding-top: px;
  border-bottom: 3px solid #3d3d3d;
}



#second-page .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5e5f5f;
}

.container {
  max-width: 60%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  padding: 0 2rem;
}



#second-page p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-family: 'Inter', sans-serif;
}

#second-page .container>div {
  padding: 1.5rem 0;
}

#second-page .container>div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: #e50914 4px solid;
}

/* Content */
#tab-1-contain,
#tab-2-contain,
#tab-3-contain {
  display: none;

}

.show {
  display: block !important;
}

/* Tab1 TV */
#Tv-top-text {
  margin-top: -14%;
  /* margin-left: 40%; */
  margin-right: 17%;
  float: right;
  text-align: center;
  font-size: 48px;
  font-family: 'Mulish', sans-serif;

}

#tv-main-text {
  margin-top: -8%;
  float: right;
  margin-right: 13.5%;
  text-align: center;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 15%;
  display: flex;
}

.tv-container {
  position: relative;
}

.netflix-ui {

  width: 38%;
  margin-left: 5%;
  height: auto;
  margin-top: 15px;
}

.tv-set {
  position: absolute;
  left: 0%;
  width: 50%;
  height: auto;
}

/* Tab2 Devices*/
.tab-2-image-container {
  position: relative;
  margin-left: 2%;
}

.show-content {
  width: 28%;
  margin-left: 8.5%;
  height: auto;
  margin-top: 57px;

}

.devices {
  position: absolute;
  left: 0%;
  width: 45%;
  height: auto;
}

.tab2-top-text {
  margin-top: -14%;
  /* margin-left: 40%; */
  margin-right: 15%;
  float: right;
  text-align: center;
  font-size: 48px;
  font-family: 'Mulish', sans-serif;
}

.tab-2-content-main {
  margin-top: -8%;
  float: right;
  margin-right: 13.5%;
  text-align: center;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 15%;
  display: flex;
}

.store-logo {
  float: right;
  margin-right: -30%;
}

.playstore {
  float: left;
  width: 200px;
}

.appstore {
  float: left;
  margin-top: 1px;
  width: 185px;
}

/* Tab 3 download */
.iphone-content {
  width: 300px;
  float: right;
  margin-top: 3%;
  margin-right: 17%;
}

.tab-3-top-text {
  margin-top: 8%;
  /* margin-left: 40%; */
  margin-left: 12.5%;
  float: left;
  text-align: center;
  font-size: 48px;
  font-family: 'Mulish', sans-serif;
}

.tab-3-content-main {
  margin-top: -2%;
  float: left;
  margin-left: 14%;
  text-align: center;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 5%;
  display: flex;
}

/* Downloading*/
.download-box {
  background: rgb(39, 39, 39);
  color: white;
  width: 350px;
  height: 100px;
  box-sizing: border-box;
  background-color: black;
  border: 3px;
  border-radius: 15px;
  border-style: solid;
  border-color: #5a5a5a;
  /* padding: 10px 10px 10px;  */
  align-content: center;
  float: right;
  margin-top: 34px;
  margin-right: -325px;
}

.show-image {
  width: 60px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 3px;
}

.show-name {

  height: 0px;
  width: 170px;
  max-width: 170px;
  margin-top: 27px;
  margin-left: 100px;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

}

.downloading {
  height: 0px;
  width: 170px;
  max-width: 170px;
  margin-left: 100px;
  margin-top: -2px;
  color: #0071eb;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.download-icon {
  width: 20px;
  float: right;
  height: auto;
  margin-top: -15px;
  margin-right: 35px;
}



/* Image Slider */
.trending-text {
  left: 50%;
  font-size: 48px;
  font-family: 'Mulish', sans-serif;
  margin-left: 20%;
  margin-top: 60px;

}

.Trending {
  padding-top: 120px;
  height: 500px;
  overflow-x: hidden;
}

.slider-posters {
  max-width: 80%;
  padding-top: 0%;
  height: 50px;
  margin: auto;
  margin-top: 80px;
  position: relative;
  width: 100%;
  display: flex;
  place-items: center;
}

.slide-track {
  display: flex;
  width: calc(250px * 12);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {

    transform: translateX(0);
  }

  100% {

    transform: translateX(calc(-250px * 6));
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 15px;
  perspective: 100px;

}

.slide-track img {
  width: 100%;
}

.slide-track img:hover {
  transform: translateZ(20px);
  transition: transform 1s;
}


/* 
.slider-posters::before,
.slider-posters::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0));
  content: '';
  margin-top: 0px;
  height: 160%;
  position: absolute;
  width: 15%;
  max-width: 19%;
  z-index: 2;
  margin-top: 4%;
}

.slider-posters::before {
  left: 0;
  top: 0; 
}

.slider-posters::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);

} */


#down-lower-text{
  margin-top: 70px;
  padding-left: 24%;
  font-family: "Secular One";
  font-size: 25px;
}

#down-textbox {
  margin-left: 50%;


}

.down-mailBox {
  padding-bottom: 20px;
}

.down-getstartedBtn {
  background: #e50914;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  padding: 13px 24px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  border-style: solid;
  border-color: #e50914;
  margin-left: 8px;
  cursor: pointer;
}




/* .down-mailBox::placeholder {
  font-size: large;
  font-weight: 500;
  color: #bfbdbd;
} */


/* Footer */
.footer {
  padding-top: 40px;
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

ul {
  list-style: none;
}

.footer a {
  font-family: 'Inter', sans-serif;
  color: #bfbdbd;
  font-size: 15px;

}

.footer p {
  font-family: 'Inter', sans-serif;
  color: #bfbdbd;
  font-size: 17px;
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  font-size: 14px;
}

.footer li {
  line-height: 1.9;
}